<header>
  <div class="header-logo">
    <a href="/posts/index">Removal App</a>
  </div>
  <ul class="header-menus">
    <li>
      <a href="/about">Removal Appとは</a>
    </li>
  </ul>
</header>

<h1>Applications#index</h1>

